<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>School-Service-App-OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9E703CA1DEC417800F5C042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E703E61DEC417900F5C042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9E703F11DEC417900F5C042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
